<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>World Champion Predictor</title>

    <!-- Material Design Lite -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.green-red.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/dashboard.css">
</head>

<body>
<div class="mdl-layout mdl-js-layout">
<header class="mdl-layout__header dashboard-header">
    <div class="mdl-layout__header-row">
        <h4>And the winer is...</h4>
    </div>
    <div class="mdl-layout__header-row">
        <h1>Brazil !</h1>
    </div>
</header>

<main class="mdl-layout__content">
<div class="page-content">
    <section>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <h1>Some stats</h1>
            </div>
        </div>
    </section>
</div>
</main>
</div>
</body>
</html>