<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>World Champion Predictor</title>

    <!-- Material Design Lite -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Kanit:600,800" rel="stylesheet">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.red-green.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/dashboard.css">
</head>

<body>
<div class="mdl-layout mdl-js-layout">
<header class="mdl-layout__header dashboard-header">
    <div class="mdl-layout__header-row">
        <h1>World Cup Predictor</h1>
    </div>

    <div class="tabs-wrapper">
        <div class="tab selected">Predictions</div>
        <div class="tab">Stats</div>
    </div>
</header>

<main class="mdl-layout__content">
<div class="page-content">
    <section class="tab-section" id="predictions-section">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                    <div class="mdl-tabs__tab-bar">
                        <a href="#panel-1994" class="mdl-tabs__tab is-active">1994</a>
                        <a href="#panel-1998" class="mdl-tabs__tab">1998</a>
                        <a href="#panel-2002" class="mdl-tabs__tab">2002</a>
                        <a href="#panel-2006" class="mdl-tabs__tab">2006</a>
                        <a href="#panel-2010" class="mdl-tabs__tab">2010</a>
                        <a href="#panel-2014" class="mdl-tabs__tab">2014</a>
                        <a href="#panel-2018" class="mdl-tabs__tab">2018</a>
                    </div>

                    <div class="mdl-tabs__panel is-active" id="panel-1994">
                        <h1 class="section-title">1994</h1>
                        <h5 class="section-subtitle">Here are the favorites for 1994 world cup, ranked by there similarity score.</h5>
                        <ul class="demo-list-icon mdl-list predictions-list"></ul>
                    </div>
                    <div class="mdl-tabs__panel" id="panel-1998">
                        <h1 class="section-title">1998</h1>
                        <h5 class="section-subtitle">Here are the favorites for 1998 world cup, ranked by there similarity score.</h5>
                        <ul class="demo-list-icon mdl-list predictions-list"></ul>
                    </div>
                    <div class="mdl-tabs__panel" id="panel-2002">
                        <h1 class="section-title">2002</h1>
                        <h5 class="section-subtitle">Here are the favorites for 2002 world cup, ranked by there similarity score.</h5>
                        <ul class="demo-list-icon mdl-list predictions-list"></ul>
                    </div>
                    <div class="mdl-tabs__panel" id="panel-2006">
                        <h1 class="section-title">2006</h1>
                        <h5 class="section-subtitle">Here are the favorites for 2006 world cup, ranked by there similarity score.</h5>
                        <ul class="demo-list-icon mdl-list predictions-list"></ul>
                    </div>
                    <div class="mdl-tabs__panel" id="panel-2010">
                        <h1 class="section-title">2010</h1>
                        <h5 class="section-subtitle">Here are the favorites for 2010 world cup, ranked by there similarity score.</h5>
                        <ul class="demo-list-icon mdl-list predictions-list"></ul>
                    </div>
                    <div class="mdl-tabs__panel" id="panel-2014">
                        <h1 class="section-title">2014</h1>
                        <h5 class="section-subtitle">Here are the favorites for 2014 world cup, ranked by there similarity score.</h5>
                        <ul class="demo-list-icon mdl-list predictions-list"></ul>
                    </div>
                    <div class="mdl-tabs__panel" id="panel-2018">
                        <h1 class="section-title">2018</h1>
                        <h5 class="section-subtitle">Here are the favorites for 2018 world cup, ranked by there similarity score.</h5>
                        <ul class="demo-list-icon mdl-list predictions-list"></ul>
                    </div>
                </div>



                <div class="demo-card-wide mdl-card mdl-shadow--2dp how-is-it-done">
                    <div class="mdl-card__title">
                        <h1 class="mdl-card__title-text">How does it work ?</h1>
                    </div>
                    <div class="mdl-card__supporting-text">
                        To determine the favorites for an edition, we have built a profile for each and every single team in the world. This profile is based uppon
                        several criterias such the number of wins, the number of goals scored or the FIFA rank for example. All of these stats are computed over the 4 years before the worldcup.
                        <br>
                        These profiles are then compared to the
                        of the typical winner which is defined as the average profile of every single historic winner. The favorites for an edition are the teams
                        with the closer profile to the winner profile.
                        <br>
                        The score you can observe for each team matches the cosine similarity multiplied by a factor of 100.
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://github.com/JordhanMadec/world-cup-predictor" target="_blank">
                            See code
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="tab-section" id="stats-section">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                    <div class="mdl-tabs__tab-bar">
                        <a href="#panel-perfect-one" class="mdl-tabs__tab is-active">Perfect one</a>
                        <a href="#panel-top-10" class="mdl-tabs__tab">Top 10</a>
                    </div>

                    <div class="mdl-tabs__panel is-active" id="panel-perfect-one">
                        <h1 class="section-title">Perfect one</h1>
                        <h5 class="section-subtitle">Here are the statistics of the ideal champion !</h5>

                        <div class="perfect-champion-stats stats-container">
                            <div class="games-stats">
                                <h2>Games</h2>
                                <canvas id="winner_games" width="200px" height="200"></canvas>
                            </div>

                            <div class="goals-stats">
                                <h2>Goals</h2>
                                <canvas id="winner_goals" width="200px" height="200"></canvas>
                            </div>

                            <div class="finals-stats">
                                <h2>Finals</h2>
                                <canvas id="winner_finals" width="200px" height="200"></canvas>
                            </div>
                        </div>

                        <div id="rank-container" class="perfect-champion-stats stats-container">
                            <h2>FIFA Rank</h2>
                            <div class="rank-stats-container">
                                <div class="number-stat-container">
                                    <div class="number-stat"><span>5.7</span>th</div>
                                    Average
                                </div>

                                <div class="number-stat-container">
                                    <div class="number-stat">+<span>5.2</span></div>
                                    Evolution
                                </div>
                            </div>
                        </div>


                        <div class="demo-card-wide mdl-card mdl-shadow--2dp how-is-it-done">
                            <div class="mdl-card__title">
                                <h1 class="mdl-card__title-text">What does it really mean ?</h1>
                            </div>
                            <div class="mdl-card__supporting-text">
                                The displayed figures are the average figures of every single world champion in the history.
                                The very same figures have been used to build the vectors of each and every team for each world cup edition.
                                The figures are computed over the 4 years before the world cup.
                            </div>
                        </div>
                    </div>

                    <div class="mdl-tabs__panel" id="panel-top-10">
                        <h1 class="section-title">Top 10</h1>
                        <h5 class="section-subtitle">The 10 biggest favorites all time !</h5>

                        <div class="stats-container">
                            <canvas id="top10_chart" width="200px" height="80"></canvas>
                        </div>

                        <div class="demo-card-wide mdl-card mdl-shadow--2dp how-is-it-done">
                            <div class="mdl-card__title">
                                <h1 class="mdl-card__title-text">How does it work ?</h1>
                            </div>
                            <div class="mdl-card__supporting-text">
                                To determine the favorites for an edition, we have built a profile for each and every single team in the world. This profile is based uppon
                                several criterias such the number of wins, the number of goals scored or the FIFA rank for example. All of these stats are computed over the 4 years before the worldcup.
                                <br>
                                These profiles are then compared to the
                                of the typical winner which is defined as the average profile of every single historic winner. The favorites for an edition are the teams
                                with the closer profile to the winner profile.
                                <br>
                                The score you can observe for each team matches the cosine similarity multiplied by a factor of 100.
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://github.com/JordhanMadec/world-cup-predictor" target="_blank">
                                    See code
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer>
        <h1>Tools</h1>
        <div class="tools">
            <div><img src="../assets/images/tableau.png"></div>
            <div><img src="../assets/images/flink.png"></div>
            <div><img src="../assets/images/chartjs.png"></div>
        </div>
        <div class="credits">Made with <i class="material-icons">favorite</i> by Maxime Cadiou & Jordhan Madec</div>
    </footer>
</div>
</main>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://unpkg.com/chart.js@2.7.3/dist/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
<script src="../js/data.js"></script>
<script src="../js/chart.js"></script>
<script src="../js/predictions.js"></script>
<script type="text/javascript" src="../js/dashboard.js"></script>
<script type="text/javascript" src="../js/perfectWinner.js"></script>
<script type="text/javascript" src="../js/main.js"></script>

</body>
</html>
